# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE-specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite

# Distribution / packaging
dist/
build/
*.egg-info/